################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/BHBitProject.Lib.MVC/obj
/BHBitProject.Lib.MVC/bin
/BBP.BLL/obj
/BBP.BLL/bin
/BBP.Test.Selenium/obj
/BBP.Test.Selenium/bin
/BHBitProject.Lib.DAL.ADO/obj
/BHBitProject.Lib.DAL.ADO/bin/Debug
/BHBitProject.Lib.UTIL/obj
/BHBitProject.Lib.UTIL/bin/Debug/BBP.Util.pdb
/BHBitProject.Lib.UTIL/bin/Debug/BBP.Util.dll
/BHBitProject.Lib.UTIL/bin/Debug
/BHBitProject.Lib.Security/obj
/BHBitProject.Lib.Security/bin/Debug
/BHBitProject.Lib.IO/obj
/BHBitProject.Lib.IO/bin
/BHBitProject.Lib.DAL.Entity/obj
/BHBitProject.Lib.DAL.Entity/bin/Release/BBP.DAL.Entity.dll.config
/BHBitProject.Lib.DAL.Entity/bin/Release/BBP.DAL.Entity.dll
/BHBitProject.Lib.DAL.Entity/bin/Release
/BHBitProject.Lib.DAL.Entity/bin/Debug/EntityFramework.xml
/BHBitProject.Lib.DAL.Entity/bin/Debug/EntityFramework.SqlServer.xml
/BHBitProject.Lib.DAL.Entity/bin/Debug/EntityFramework.SqlServer.dll
/BHBitProject.Lib.DAL.Entity/bin/Debug/EntityFramework.dll
/BHBitProject.Lib.DAL.Entity/bin/Debug/BBP.DAL.Entity.dll
/BHBitProject.Lib.DAL.Entity/bin/Debug
/BHBitProject.Lib.DAL.Entity/bin
